.header {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  align-items: center;
  margin-bottom: 30px;
}
.header__main-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 56px;
}
.header__main-menu ul a {
  color: #403c39;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
}
.header__main-menu ul a:hover {
  color: #f38160;
}
.header__main-menu ul a.active {
  color: #f38160;
  position: relative;
}
.header__main-menu ul a.active::before {
  content: "";
  background-color: #f38160;
  height: 1.5px;
  width: 80%;
  position: absolute;
  left: 10%;
  top: 28px;
}
.header__login-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 56px;
}
.header__login-menu ul a {
  text-decoration: none;
  font-size: 16px;
  color: #f38160;
}
.header__login-menu ul a.btn {
  background-color: #f38160;
  padding: 10px 30px;
  color: white;
  border-radius: 10px;
  transition: background-color 0.5s ease;
}
.header__login-menu ul a.btn:hover {
  background-color: #403c39;
  color: #f38160;
}
.header__login-menu ul a.sign-in:hover {
  color: #403c39;
}

.hero {
  display: flex;
  margin-bottom: 40px;
}
.hero__content {
  max-width: 50%;
}
.hero__content__title {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  padding-top: 40px;
  font-weight: 700;
  color: #403c39;
}
.hero__content__title span {
  color: #f38160;
}
.hero__content__subtitle {
  font-size: 24px;
  color: #949494;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  max-width: 90%;
  line-height: 40px;
  margin-bottom: 70px;
}
.hero__content__search {
  display: flex;
  margin-bottom: 70px;
}
.hero__content__search input {
  background: rgba(208, 208, 210, 0.25);
  color: #949494;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  padding: 10px 25px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  width: 60%;
}
.hero__content__search img {
  background-color: #f38160;
  padding: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.hero__content__checks ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 32px;
  flex-wrap: wrap;
  max-width: 60%;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #949494;
  font-weight: 400;
}
.hero__content__checks ul li {
  background-image: url(../../img/icon-check.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left center;
  padding-left: 25px;
}
.hero__image img {
  max-width: 90%;
}

.categories {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.categories__category {
  padding-left: 30px;
}
.categories__category h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding-top: 10px;
}
.categories__category p {
  font-family: "Poppins", sans-serif;
  color: #949494;
  font-size: 16px;
  font-weight: 400;
  padding-top: 20px;
}/*# sourceMappingURL=layout.css.map */